# NodeJS files
node_modules/
coverage
coverage.json
typechain

# Hardhat files
cache
artifacts

cache/
out/

# Ignore Environment Variables!
.env
.env.prod

# Ignore all vscode settings
.vscode/

# Ignore flattened files
flattened.txt

broadcast

# Coverage
lcov.info

# Woke testing
.woke-build
.woke-logs
pytypes
__pycache__/
*.py[cod]
.hypothesis/
woke-coverage.cov
